<html>
    <head><title>Heloo World</title></head>
    <body>
        <p><%=title%></p><br/>
        <div id="divMessage">Hey!</div>

        <script src="../../public/js/indexTest.js" ></script>        
    </body>
</html>